[submodule "modules/mime-db"]
	path = modules/mime-db
	url = https://github.com/jshttp/mime-db.git
[submodule "modules/querypath"]
	path = modules/querypath
	url = https://github.com/technosophos/querypath.git
[submodule "modules/random-user-agent"]
	path = modules/random-user-agent
	url = https://github.com/joecampo/random-user-agent.git
