body {
  background: var(--background);
  color: var(--color);
  accent-color: var(--color);
  font-family: system-ui;

  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: initial;
}

body.theme-system {
  --background: white;
  --color: black;
  --borders: rgba(0, 0, 0, 25%);
  --links: var(--color);
  --selection-background: var(--color);
  --selection-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  body.theme-system {
    --background: #1d1d1d;
    --color: #eee;
    --borders: #2d2d2d;
    --links: #a62f33;
    --selection-background: var(--links);
    --selection-color: var(--color);
  }
}


body.theme-light {
  --background: white;
  --color: black;
  --borders: rgba(0, 0, 0, 25%);
  --links: var(--color);
  --selection-background: var(--color);
  --selection-color: var(--background);
}

body.theme-dark {
  --background: black;
  --color: white;
  --borders: rgba(255, 255, 255, 25%);
  --links: var(--color);
  --selection-background: var(--color);
  --selection-color: var(--background);
}

body.theme-xnand {
  --background: #1d1d1d;
  --color: #eee;
  --borders: #2d2d2d;
  --links: #a62f33;
  --selection-background: var(--links);
  --selection-color: var(--color);
}

body.theme-catppuccin {
  --background: #1e1e2e;
  --color: #cdd6f4;
  --borders: #6c7086;
  --links: #89b4fa;
  --selection-background: rgba(147, 153, 178, 25%);
  --selection-color: var(--color);
}

body.theme-dracula {
  --background: #282a36;
  --color: #f8f8f2;
  --borders: #bd93f9;
  --links: #ff79c6;
  --selection-background: #44475a;
  --selection-color: var(--color);
}

body.theme-flexoki {
  --background: #100f0f;
  --color: #cecdc3;
  --borders: #282726;
  --links: #3aa99f;
  --selection-background: rgba(30, 95, 91, 30%);
  --selection-color: var(--color);
}

body.theme-nord {
  --background: #2e3440;
  --color: #eceff4;
  --borders: #3b4252;
  --links: #88c0d0;
  --selection-background: #434c5e;
  --selection-color: var(--color);
}

body.theme-rose-pine {
  --background: #191724;
  --color: #e0def4;
  --borders: #524f67;
  --links: #c4a7e7;
  --selection-background: #403d52;
  --selection-color: var(--color);
}

.wrapper {
  max-width: 1400px;
  margin: auto;
  padding: 1em;
}

.wrapper > :first-child,
.wrapper > style:first-child + *,
.wrapper > dialog:not([open]):first-child + *,
.wrapper div > :first-child,
.wrapper details:first-child summary {
  margin-top: 0;
}

.wrapper > :last-child,
.wrapper div > :last-child {
  margin-bottom: 0;
}

.wrapper p a,
.wrapper span a {
  font-weight: bold;
}

header {
  border-bottom: 1px solid var(--borders);
}

main {
  flex: 1;
}

body.layout main {
  overflow: auto;
}

footer {
  border-top: 1px solid var(--borders);
}

header .wrapper,
footer .wrapper,
dialog[open] {
  display: flex;
  align-items: center;
  gap: 1em;
}

header .wrapper form {
  display: inherit;
  gap: inherit;
  flex: 1;
}

header .wrapper input,
dialog[open] input {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

header .wrapper input:first-child {
  flex: 1;
}

header .wrapper input:last-child {
  padding: 0;
  cursor: pointer;
}

main .wrapper .page,
main .wrapper .subpage {
  display: grid;
  align-items: start;
  gap: 1em;
}

main .wrapper .page {
  grid-template-columns: auto 250px;
}

main .wrapper .subpage {
  grid-template-columns: 250px auto 250px;
}

main .wrapper form div {
  margin-bottom: 2em;
}

main .wrapper h1,
main .wrapper h2 {
  font-weight: initial;
}

main .wrapper h1 a,
main .wrapper h2 a {
  font-weight: bolder;
}

main .wrapper img,
main .wrapper table {
  width: 100%;
}

main .wrapper table td {
  vertical-align: top;
}

main .wrapper table td[colspan] {
  padding: initial !important;
}

main .wrapper table td[colspan] audio,
main .wrapper video {
  width: 100%;
  margin-top: 4px;
}

main .wrapper table td:not(:nth-child(2)) {
  width: 0;
  white-space: nowrap;
  text-align: right;
}

main .wrapper table td:first-child {
  padding-right: 0.5em;
}

main .wrapper table td:last-child {
  padding-left: 0.5em;
}

main .wrapper summary {
  margin: 1em auto;
  font-weight: bold;
  cursor: pointer;
}

main .wrapper .results,
main .wrapper .results a {
  display: grid;
  gap: 1em;
}

main .wrapper .results {
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
}

main .wrapper .results a {
  grid-template-columns: 100px auto;
  align-items: center;
}

main .wrapper .results img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

main .wrapper .sidebar {
  overflow-wrap: anywhere;
}

main .wrapper .tracks table a,
main .wrapper .sidebar a {
  font-weight: bold;
}

main .wrapper .sidebar img {
  display: block;
}

@media (min-width: 1001px) {
  body.overflow main .wrapper:has(.page, .subpage) {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: calc(1400px + 2em);
    padding-bottom: 0;
    box-sizing: border-box;
  }

  body.overflow main .wrapper .page,
  body.overflow main .wrapper .subpage {
    min-height: 0;
  }

  body.overflow main .wrapper .page > *,
  body.overflow main .wrapper .subpage > * {
    max-height: 100%;
    padding-bottom: 1em;
    overflow: auto;
    box-sizing: border-box;
    scrollbar-width: none;
  }

  body.overflow main .wrapper .page > *::-webkit-scrollbar,
  body.overflow main .wrapper .subpage > *::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: var(--links);
  text-decoration: initial;
}

code {
  overflow-wrap: anywhere;
}

dialog[open] {
  position: initial;
  width: initial;
  border: none;
  justify-content: space-between;
  background: var(--color);
  color: var(--background);
}

dialog[open] input {
  cursor: pointer;
}

::selection {
  background: var(--selection-background);
  color: var(--selection-color);
}

@media (max-width: 1000px) {
  main .wrapper .page,
  main .wrapper .subpage {
    grid-template-columns: auto;
  }
}
