:root {
  --background: white;
  --color: black;
  --font: system-ui;
  --width: 1400px;
}

body {
  background: var(--background);
  color: var(--color);
  font-family: var(--font);

  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: initial;
}

.wrapper {
  max-width: var(--width);
  margin: auto;
  padding: 1em;
}

.wrapper > :first-child {
  margin-top: 0;
}

.wrapper > :last-child {
  margin-bottom: 0;
}

header {
  border-bottom: 1px solid;
}

main {
  flex: 1;
  overflow: auto;
}

footer {
  border-top: 1px solid;
}

header .wrapper,
footer .wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}

header .wrapper a {
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

header .wrapper form,
footer .wrapper span {
  flex: 1;
}

header .wrapper input {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-align: end;
  width: 100%;
}

main .wrapper .page {
  display: grid;
  gap: 1em;
  grid-template-columns: auto 250px;
}

main .wrapper .subpage {
  display: grid;
  gap: 1em;
  grid-template-columns: 250px auto 250px;
}

main .wrapper .page img,
main .wrapper .subpage img {
  width: 100%;
}

main .wrapper .results,
main .wrapper .results div {
  display: grid;
  gap: 1em;
}

main .wrapper .results div {
  align-items: center;
}

main .wrapper .results {
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
}

main .wrapper .results div {
  grid-template-columns: 100px auto;
}

main .wrapper .results p {
  overflow: hidden;
  text-overflow: ellipsis;
}

main .wrapper .results img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

main .wrapper .sidebar a {
  font-weight: bold;
  text-decoration: initial;
}

a {
  color: inherit;
  text-decoration: initial;
}

p a {
  text-decoration: underline;
}

::selection {
  background: var(--color);
  color: var(--background);
}

@media (max-width: 1000px) {
  main .wrapper .page,
  main .wrapper .subpage {
    grid-template-columns: auto;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --color: white;
  }
}
